[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
selenium = "==3.141.0"
webdriver-manager = "*"
urllib3 = "==1.26.5"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
